# Virtual Environment
venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# API Keys and secrets
.env

# Data files (if they're large)
*.csv
*.json

# macOS
.DS_Store

# VS Code
.vscode/